@model List<Order>

@if (Model.Count > 0)
{
    foreach (var item in Model)
    {
    <h1>Ma so don hang: @item.Orderid</h1>
    <p>Ten khach hang: @item.Customername</p>
    <p>So dien thoai: @item.Phone</p>
    <p>Dia chi nhan hang: @item.Address</p>
    <p>Ngay dat hang: @item.CreatedDate</p>
        if (item.Status == 1)
        {
        <p>Tình trạng đơn hàng: Đã hoàn thành</p>
        }
        else if (item.Status == 2)
        {
        <p>Tình trạng đơn hàng: Đang xác nhận</p>
        }
        else
        {
        <p>Tình trạng đơn hàng: Đang xử lý</p>
        }
    <h2>Sản phẩm: </h2>
        foreach (var a in item.OrderDetails)
        {
        <p>Tên sản phẩm: @a.Product.Productname</p>
        <p>Số lượng: @a.Quantity</p>
        <p>Giá tiền: @(a.Quantity * a.Product.Price)</p>
        }
    <p>Tổng số tiền cần thanh toán: @item.Totalprice</p>
    }
}
else
{
    <h2>Bạn chưa có order nào.</h2>
}